[Desktop Entry]
Name=MaxCrm
Comment=
GenericName=maxcrm
Keywords=max
Exec=/BuildMaxCrm/maxcrm
Terminal=false
Type=Application
Icon=/BuildMaxCrm/index.png
Path=/BuildMaxCrm
Categories=crm
NoDisplay=false
Terminal=true
